@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    align-items: center;
    background-color: palevioletred;
    font-family: 'Helvetica Neue', sans-serif;
}

#modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    visibility: hidden;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(6px);
    transition: .3s;
}

#modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 500px;
    height: 400px;
    padding: 3.5em;
    border-radius: 1.5em;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(232, 232, 232);
}

h1, #score {
    font-size: 4.5em;
    font-family: 'Amatic SC', cursive;
}

#score {
    font-size: 2.5em;
    font-weight: bold;
}

button {
    margin: .5em;
    padding: 1em;
    border: solid 1px rgb(59, 172, 216);
    border-radius: .5em;
    background-color: skyblue;
    font-weight: bold;

    cursor: pointer;
    transition: .3s;
    box-shadow: 2px 2px 2px rgb(194, 194, 194);
}

button:hover {
    transform: translateY(-5px);
    box-shadow: 5px 5px 5px rgb(194, 194, 194);
}

#grid {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 650px;
    height: 650px;
    perspective: 1000px;
}

.card {
    width: calc(25% - 10px);
    height: calc(25% - 10px);
    margin: 5px;
    position: relative;
    cursor: pointer;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.card:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.front, .back {
    width: 100%;
    position: absolute;
    height: 100%;
    border-radius: .5em;
    border: double .6em;
    object-fit: contain;
    object-position: center;
    background-color: antiquewhite;
    backface-visibility: hidden;
    padding: 1em;
}

.front {
    transform: rotateY(180deg);
    background-color: skyblue;
}


.card.flip {
    transform: rotateY(180deg);
}